/* Shared styles for content sections */

.section-title-accent {
  width: 3rem;
  height: 3px;
  background-color: var(--lufa-semantic-ui-border-default);
  border-radius: var(--lufa-semantic-ui-border-radius-full);
}
