.container {
  border-radius: var(--lufa-semantic-ui-border-radius-base);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: var(--lufa-semantic-ui-spacing-default);
  margin-top: var(--lufa-semantic-ui-spacing-default);
}

.value {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: monospace;
  color: var(--lufa-semantic-ui-text-primary);
}
