.textarea {
  width: 100%;
  padding: var(--lufa-semantic-ui-spacing-default);
  font-size: 1rem;
  font-family: inherit;
  border: 2px solid var(--lufa-semantic-ui-border-default);
  border-radius: var(--lufa-semantic-ui-border-radius-base);
  background: var(--lufa-semantic-ui-background-input);
  color: var(--lufa-semantic-ui-text-primary);
  resize: vertical;
}

.textarea:focus {
  outline: none;
  border-color: var(--lufa-semantic-ui-border-focus);
}

.textarea:disabled {
  opacity: 0.5;
  background: var(--lufa-semantic-ui-background-disabled);
  cursor: not-allowed;
}
